@tailwind base;
@tailwind components;
@tailwind utilities;

/* Плавная прокрутка для якорных ссылок */
html {
  scroll-behavior: smooth;
}

/* Анимация бесконечной прокрутки брендов */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% / 2));
  }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
  will-change: transform;
}
